/* colors */
@yellow: #fc3;
@grey: #202e3b;
@light-grey: #f3f3f3;
@grey-btn: #354b60;

/* normalize */
@import (inline) "../../bower_components/normalize.css/normalize.css";

/* My normalization styles */

table {
  border-collapse: collapse;
}

div, p {
  box-sizing: border-box;
}

/* Grid System */
.row {
  overflow: hidden;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33.33%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-8 {
  width: 66.66%;
  float: left;
}

.col-9 {
  width: 75%;
  float: left;
}

/* General styles */

body {
  font-family: "PT Sans", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.hr-striped {
  border: none;
  background-image: url(../img/main-bg-striped-line-cr.png);
  background-repeat: repeat-x;
  height: 13px;
  margin: 0;
}

/* General  Snippets*/
.yellow-btn() {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  display: inline-block;
  line-height: 35px;
  background-color: @yellow;
}


/* Page header */
.page-header {
  background-color: #fc3;
  overflow: hidden;
}
.page-header__logo {
  float: left;
  padding: 10px 0;

  a {
    text-decoration: none;
    color: #000;
  }
  h1 {
    display: inline;
    font-size: 24px;
  }
}

.page-header__nav {
  float: right;
}

.page-header__item {
  display: inline-block;
  margin: 0 5px;

  a {
    text-decoration: none;
    color: #000;
  }
  &--button {
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
  }
}

/* banner */
.promo {
  background-image: url(../img/catalog-banner-grey.jpg);
  background-size: cover;
  height: 450px;
}
.promo p {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
}
.promo__header {
  text-transform: uppercase;
  font-size: 44px;

}
.promo__text {
  font-size: 20px;
}
.promo__link {
  text-decoration: none;
  display: block;
  width: 220px;
  color: #fff;
  padding: 10px 40px;
  border: 2px solid @yellow;
  margin: 0 auto;
}

/*  Consulting Form */
.consult-form {
  background-color: @grey;
}

/**** Perks  ******/
.perks {
  padding: 40px 0;
}
.perks p {
  border: 1px solid #ccc; /* for testing only */
  padding-left: 60px;
  padding-right: 0;
  font-size: 13px;
}

/**** Offers *****/
.offers {
  background-color: @light-grey;
  overflow: hidden;
  font-size: 16px;
}
.offers__all {

  & ul {
    padding: 0;
  }

  & li {
    list-style-type: none;

  }
  & a{
    color: @grey-btn;
    font-size: 16px;
  }
}
.offers__spec {

  & table {
    width: 100%;
  }
  
  & th {
    background-color: #dfdfdf;
    font-weight: bold;
  } 
}


/***** Info ****/
.info__citation {
  .row;

  & img {
    .col-3;
    display: block;
    padding: 0 20px 20px 0;
  }

  & blockquote {
    .col-9;
    display: block;
    margin: 0;

  }
  & cite {
    display: block;
  }

}

/**** Map *****/
.map img {
  width: 100%;
}

/**** Page footer ****/
.page-footer {
  overflow: hidden;
  background-color: @grey;
}

.page-footer__logo {
  float: left;
  padding: 10px 0;

  a {
    text-decoration: none;
    color: #fff;
  }
  h1 {
    display: inline;
    color: #fff;
    font-size: 24px;
  }
}

.page-footer__nav {
  float: right;
}

.page-footer__item {
  display: inline-block;
  margin: 0 5px;

  a {
    text-decoration: none;
    color: #fff;
  }

  &--button a {
    padding: 10px;
    color: @yellow;
  }
}

/* Catalog banner */
.banner {
  background-size: cover;
  overflow: hidden;
  padding: 23px 0;
}
.banner .container {
  padding: 0 10px;
}
.banner__left {
  float: left;
  width: 70%;
}
.banner__header {
  font-size: 26px; //line height = 33
  color: @yellow;
  display: inline-block;
  margin: 0 10px 27px 0; // whole height = 60

}
.banner__motto  {
  font-size: 16px;
  color: @light-grey;
  display: inline;
}
.banner__right {
  float: right;
  width: 25%;
}
.banner__button {
  @button-height: 45px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: @yellow;
  color: @grey-btn;
  width: 240px;
  margin-bottom: 15px;
  height: @button-height;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: @button-height;
}
/* Banner backgrounds */
.banner-bg-catalog {
  background: url(../img/catalog-banner-grey.jpg);
}
.banner-bg-technics {
  background: url(../img/technics-banner-grey.jpg);
}
/* Banner for Technics page*/
.banner__motto--long, .banner__button-motto{
  font-size: 16px;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* Catalog tech-types */
.tech-types {
  background-color: @light-grey;
}
.tech-types .container {
  padding: 10px 0;
  overflow: hidden;
}
.tech-types__item {
  background-color: #fff;
  margin: 1%;
  width: 48%;
  float: left;
  font-size: 0;
  height: 160px; //Item height
}
.tech-types__image-container {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 160px; //Item height
}
.tech-types__image {
  max-width: 100%;
  line-height: 160px; //Item height
}

.tech-types__desc {
  display: inline-block;
  width: 50%;

  & h3 {
    font-size: 26px;
    color: @grey;
  }
  & p {
    font-size: 18px;
    font-weight: bold;
    color: darken(@yellow, 20%, relative);
  }
}
/* Perks on catalog page */
.tech-types + section {
  background-color: @light-grey; /* hack to make it grey */
}

/* Special offers */
.special-offers {
  background-color: @light-grey;
}
.special-offers h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}
.special-offers .container{
  padding: 10px 0;
  overflow: hidden;
}

.special-offers__offer {
  width: 31%;
  margin: 1%;
  padding: 30px;
  float: left;
  background-color: #fff;
  text-align: center;
}
.special-offers__title {
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}
.special-offers__image {
  max-width: 100%;
}
.special-offers__cost {
  font-size: 21px;
  font-weight: bold;
  text-align: left;

  & del {
    color: red;
  }
  & span {
    font-size: 17px;
    font-weight: normal;
  }
}
.special-offers__buttons {
  font-size: 0;
}
.special-offers__btn--rent {
  .yellow-btn;
  width: 50%;
  background-color: @yellow;
}
.special-offers__btn--more-info {
  .yellow-btn;
  width: 50%;
  background-color: @grey-btn;
}

/* Technics page */
.technics {
  background-color: @light-grey;
}
.technics .container{
  overflow: hidden;
}
.technics__item {
  .special-offers__offer;
  height: 400px;
  &:first-child {
    background-color: unset;
    padding: 0;
    text-align: left;
  }
}
.technics__nav {
  & h2 {
    margin: 0;
    &:before {
      content: '';
      display: inline-block;
      background-image: url(../img/technics-truck-icon-small.svg);
      -webkit-background-size: 100%;
      background-size: 100%;
      height: 24px;
      width: 31px;
      margin-right: 15px;
    }
  }

  & ul {
    list-style: none;
    padding-left: 0;
  }

  & li {
    line-height: 38px;
  }
}
.technics__type {
  font-size: 16px;
  display: inline-block;
  color: @grey-btn;
  &.technics__type--active {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: @yellow;
    padding: 0 20px 0 10px;
    margin-left: -10px;
  }
}
.technics__download-btn {
  .yellow-btn;
  background-color: @grey-btn;
  padding: 0 20px;
  &:before {
    content: '';
    display: inline-block;
    background-image: url(../img/technics-icon-download.svg);
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 18px;
    width: 17px;
    margin-right: 10px;
  }
}